# SPDX-License-Identifier: GPL-2.0-only
config ST21NFC
        bool "ST Microelectronics ST21NFC NFC Controller Driver"
        depends on I2C
        help
          ST Microelectronics ST21NFC Near Field Communication controller support.
